extends layout.pug

block content

  

  ul#about
    li#banner
      img(src="/static/img/family_medium.jpg" alt="headshot of shawn kelley" id="family")
    li#content-col-1
      h1.title skills
      ul#skills
        li.skill JavaScript
        li.skill HTML
        li.skill CSS
        li.skill Node.js
        li.skill Express
        li.skill Pug
        li.skill OOP
        li.skill VSC 
        li.skill Git / GitHub
    li#content-col-2
      h1.title about
      p.data Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repudiandae accusantium, consectetur nam repellat excepturi adipisci dicta aliquid unde ex necessitatibus. Dolore facere fugit alias! Velit unde quo illo veniam.
      