extends layout.pug

block content 

  ul#content
    li#content-col-1
      img#headshot(src='static/img/headshot.png' alt='head shot of shawn kelley')
    li#content-col-2.sum
      h1.home.logo#name shawn kelley
      h2.home developer
      h2.home +
      h2.home musician