doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Shawn Kelley | Developer | Musician
  // favicon
  link(rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico")
  // css
  link(rel='stylesheet' type="text/css" href='/static/css/normalize.css')
  link(rel='stylesheet' type="text/css" href='/static/css/styles.css')
  // google fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap' rel='stylesheet')
#wrapper
  header
    // --logo--
    ul#logo-parent
      li
        a(href="/").logo
          h2.logo // shawn kelley
    // ham
    ul#ham
      li
      li
      li
    // --menu--
    ul#menu
      // --dev--
      li#menu-dev.menu-li
        a.nav(href="/projects") work

          
      // --ab--
      li#menu-ab.menu-li
        a.nav(href="/about") about

      // --contact--
      li#menu-con.menu-li
        a.nav(href="mailto:shawnkelley7@gmail.com") email
      
      // --linked-in--
      li#menu-linkedin.menu-li
        a.nav(href="https://www.linkedin.com/in/shawnkelleyart/" target="_blank")
          svg.svg-inline--fa.fa-linkedin-in(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='linkedin-in' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
            path(fill='currentColor' d='M100.3 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.6 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.3 61.9 111.3 142.3V448z')


      // --end menu--
  // --content--
  block content
  
  // --footer--
  footer
    ul#footer
      li
        p.text This full-stack website was created by Shawn Kelley with JavaScript, HTML, CSS, Node.js, Express, and Pug using Visual Studio Code. 
        p.copyright copyright © 2021 shawn kelley.
        p.copyright all rights reserved.

script(src='/static/js/script.js')
