extends layout.pug

block content

  ul#content
    li#content-col-1
      h1.title dev
      ul 
        each project in projects
          a(href=`/projects/${project.id}` class="projects")
            li 
              h3 #{project.project_name}

    li#content-col-2
      h1.title music
      ul
        each piece in pieces
          a(href=`/music/${piece.id}`).projects
            li 
              h3 #{piece.title}