html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  transition: all 0.3s ease;
}

:root {
  font-family: "Sora", sans-serif;
  --ham-width: 80px;
  --ham-thick: 7px;
  --footer-height: 200px;
  --header-height: 90px;
}

/*---------

    DRY

----------*/

body,
#wrapper,
ul,
li,
footer,
.button,
menu {
  display: flex;
  flex-direction: column;
}

#ham,
#content li,
#about li,
#footer li,
.button,
body,
footer {
  align-items: center;
}

#ham,
#logo-parent,
.button {
  justify-content: center;
}

#footer {
  flex-direction: column-reverse;
  max-width: 400px;
}

header {
  display: grid;
}

#techs,
#techs li {
  display: block;
}

.home,
#footer {
  text-align: center;
}

.logo,
.copyright,
.projects,
.title,
.caps {
  text-transform: capitalize;
}

#logo-parent {
  padding-left: 20px;
}

#name,
#techs {
  margin-bottom: 20px;
}

.nav {
  padding: 20px;
}

.title,
.projects h3,
.tech,
.data {
  padding: 10px;
}

.text {
  padding: 30px 10px;
}

.title,
.piece-img {
  margin: 20px 0;
}

iframe,
.button,
.piece-img {
  width: 95vw;
  max-width: 320px;
}

/*---------

    TAGS

----------*/

/* problem-preventers */

body {
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*-----------------*/

ul {
  list-style: none;
}

iframe {
  border: 5px rgb(13, 13, 13) solid;
  border-radius: 30px;
  box-shadow: 0 0 10px gray;
  max-width: 290px;
  height: 80vh;
  max-height: 600px;
  margin: 20px 0;
}

header {
  grid-template-columns: auto calc(var(--ham-width) + 20px);
  position: fixed;
  bottom: 0;
  height: var(--header-height);
  box-shadow: 0 0 10px gray;
}

a {
  text-decoration: none;
  color: black;
}

/*---------

  CLASSES

----------*/

.projects h3 {
  text-align: left;
  border-bottom: 1px solid lightGray;
}

.button {
  padding: 20px;
  color: white;
  background-color: black;
  margin-bottom: 5px;
}

.nav {
  font-size: xx-large;
}

.upper {
  text-transform: uppercase;
}

.logo {
  width: 230px;
}

.piece-img {
}

/*---------

    IDs

----------*/

#ham {
  cursor: pointer;
}

#wrapper {
  max-width: 1000px;
}

#menu {
  position: absolute;
  bottom: var(--header-height);
  right: 2000px;
  box-shadow: 0 0 10px gray;
}

#logo-parent {
  grid-column: 1/2;
  justify-content: center;
}

#ham {
  grid-column: 2/3;
  width: var(--ham-width);
  justify-self: center;
  margin: 10px;
  padding: 10px;
}

#ham li {
  position: relative;
  width: 100%;
  height: var(--ham-thick);
  background-color: black;
}

#ham li:nth-child(-n + 2) {
  margin-bottom: var(--ham-thick);
}

#headspace {
  height: var(--header-height);
}

#family,
#headshot {
  margin: 20px 0;
  width: 90vw;
}

#family {
  max-width: 900px;
  border-radius: 30px;
  box-shadow: 0 0 10px black;
}

#headshot {
  border-radius: 50%;
  max-width: 300px;
  box-shadow: 0 0 20px gray;
}

#content,
#about {
  min-height: calc(100vh - var(--header-height));
}

#techs li {
  width: 100px;
  height: 25px;
}

#skills {
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  display: block;
  padding: 10px;
  width: auto;
}

/*---------

    HOV

----------*/

/*---------

  ≥IPAD

----------*/

@media (min-width: 750px) {
  header {
    position: static;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 30px 50px;
    box-shadow: none;
  }

  #logo-parent {
    padding: 0;
  }

  #menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: none;
    grid-column: 2/3;
    height: 100%;
  }

  .menu-li,
  .nav {
    width: 100px;
  }

  .menu-li {
    justify-content: center;
    align-items: flex-end;
  }

  .nav {
    padding: 0;
    font-size: large;
    text-align: right;
  }

  .buttons {
    flex-direction: row;
    padding: 10px;
  }

  .buttons li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
  }

  .button {
    width: 200px;
    margin-right: 10px;
  }

  .pbtn {
    width: 150px;
  }

  #ham {
    display: none;
  }

  #content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    min-height: calc(100vh - var(--footer-height) - 100px);
  }

  #about {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    min-height: 0;
  }

  #banner {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #content-col-1,
  #content-col-2 {
    padding: 0;
    justify-content: flex-start;
  }

  #name {
    margin-top: 70px;
  }

  #content-col-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #skills {
    flex-direction: column;
  }

  .skill {
    padding: 5px 10px;
  }

  .skill:first-child {
    padding: 10px 10px 5px 10px;
  }

  #content-col-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .sum {
    justify-content: center;
    height: auto;
  }

  #headspace {
    display: none;
  }

  footer {
    padding: 50px 10px 10px 10px;
  }

  #footer {
    font-size: 0.8em;
  }

  .button:hover,
  .projects h3:hover {
    background-color: cyan;
    color: black;
  }

  .nav {
    width: auto;
  }

  .nav:hover,
  .logo:hover,
  #more:hover {
    color: rgb(0, 224, 224);
  }
}

@media (min-width: 1000px) {
  body {
    padding: 50px;
  }

  #wrapper {
    box-shadow: 0 0 10px gray;
  }

  #content {
    min-height: calc(100vh - var(--footer-height) - 200px);
  }
}

/*------------

  DARK/LIGHT

------------*/

@media (prefers-color-scheme: dark) {
  *,
  a,
  iframe,
  #family,
  #wrapper,
  #headshot {
    background-color: rgb(47, 47, 47);
    color: white;
    box-shadow: none;
  }

  body {
    background-color: black;
  }
}
